In [52]:
cd/content/drive/MyDrive/Colab Notebooks/esercitazioni

/content/drive/MyDrive/Colab Notebooks/esercitazioni

In [53]:
import pandas as pd
import numpy as np

In [ ]:
mydata

In [ ]:
myindex=['A','B','C','D']

In [ ]:
mycolumns=['Gennaio','Febbraio','Marzo']

In [ ]:
df = pd.DataFrame(data=mydata,index=myindex)    #crea l'oggetto DataFrame

In [ ]:
df

In [ ]:
len(df)    #num di righe

In [ ]:
df = pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [ ]:
df.info()

In [ ]:
df.dtypes

In [55]:
!wget https://frenzy86.s3.eu-west-2.amazonaws.com/IFAO/tips_complete.csv

--2022-03-18 13:03:36--  https://frenzy86.s3.eu-west-2.amazonaws.com/IFAO/tips_complete.csv
Resolving frenzy86.s3.eu-west-2.amazonaws.com (frenzy86.s3.eu-west-2.amazonaws.com)... 52.95.148.182
Connecting to frenzy86.s3.eu-west-2.amazonaws.com (frenzy86.s3.eu-west-2.amazonaws.com)|52.95.148.182|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18752 (18K) [text/csv]
Saving to: ‘tips_complete.csv.1’

tips_complete.csv.1 100%[===================>]  18.31K  --.-KB/s    in 0.07s

2022-03-18 13:03:37 (247 KB/s) - ‘tips_complete.csv.1’ saved [18752/18752]

In [56]:
#wget me l'ha scaricato

In [57]:
#se avessi avuto una cartella es. mkdir test --> df = pd.read_csv('test/tips_complete.csv')

In [58]:
df = pd.read_csv('tips_complete.csv')
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [59]:
#se clicco sulla bacchetta magica trovo i filtri, tipo excel

In [60]:
df.size     #numero di celle

2684

In [61]:
df.shape    #numero di colonne e righe

(244, 11)

In [62]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [63]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [64]:
#vanno da 0 a 243

In [65]:
df.describe()    #imetodi vogliono le parentesi

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [66]:
df.describe().T     #T traspone righe e colonne

,count,mean,std,min,25%,50%,75%,max
total_bill,244.0,1.978594e+01,8.902412e+00,3.070000e+00,1.334750e+01,1.779500e+01,2.412750e+01,5.081000e+01
tip,244.0,2.998279e+00,1.383638e+00,1.000000e+00,2.000000e+00,2.900000e+00,3.562500e+00,1.000000e+01
size,244.0,2.569672e+00,9.510998e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00
price_per_person,244.0,7.888197e+00,2.914234e+00,2.880000e+00,5.800000e+00,7.255000e+00,9.390000e+00,2.027000e+01
CC Number,244.0,2.563496e+15,2.369340e+15,6.040679e+10,3.040731e+13,3.525318e+15,4.553675e+15,6.596454e+15

In [67]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [68]:
df.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [69]:
df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [70]:
type(df['total_bill'])      #in pandas le colonne vengono viste come serie 
#series è l'elemento singolo di un data frame

pandas.core.series.Series

In [71]:
df[['total_bill','tip']]   #se dobbiamo selezionare due o più colonne, le quadre devono 
#essere 2

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [72]:
#voglio creare una nuova colonna percentage
df['tip_percentage'] = 100* df['tip']/df['total_bill']
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657,20.392697
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766,7.358352
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17,9.820426
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672,15.974441

In [73]:
#per ogni riga del dataframe prendi l'elemento in tip e lo dividi per total bill e poi lo
#moltiplichi per 100

In [74]:
#prezzo a persona
df['price_per_person'] = df['total_bill']/df['size']
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.495000,Christy Cunningham,3560325168603410,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,Douglas Tucker,4478071379779230,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,Travis Walters,6011812112971322,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,Nathaniel Harris,4676137647685994,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.147500,Tonya Carter,4832732618637221,Sun2251,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.676667,Michael Avila,5296068606052842,Sat2657,20.392697
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590000,Monica Sanders,3506806155565404,Sat1766,7.358352
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335000,Keith Wong,6011891618747196,Sat3880,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,8.910000,Dennis Dixon,4375220550950,Sat17,9.820426
243,18.78,3.00,Female,No,Thur,Dinner,2,9.390000,Michelle Hardin,3511451626698139,Thur672,15.974441

In [75]:
#se volessimo andare a troncare il numero decimale
df['price_per_person'] = np.round(df['total_bill']/df['size'],3)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.495,Christy Cunningham,3560325168603410,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.447,Douglas Tucker,4478071379779230,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.003,Travis Walters,6011812112971322,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.148,Tonya Carter,4832732618637221,Sun2251,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.677,Michael Avila,5296068606052842,Sat2657,20.392697
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590,Monica Sanders,3506806155565404,Sat1766,7.358352
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335,Keith Wong,6011891618747196,Sat3880,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,8.910,Dennis Dixon,4375220550950,Sat17,9.820426
243,18.78,3.00,Female,No,Thur,Dinner,2,9.390,Michelle Hardin,3511451626698139,Thur672,15.974441

In [77]:
df = df.set_index('Payment ID')      #lo posso fare o con il riassegnamento. se non faccio l'assegnazione 
                                      #mi dà solo la preview del comando

In [ ]:
df.set_index('Payment ID', inplace=True)     #o con l'inplace=True, prende questo cambiamento come permanente

In [79]:
df.reset_index()       #metodo di reset dell'indice. Torna indietro

,Payment ID,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.495,Christy Cunningham,3560325168603410,5.944673
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.447,Douglas Tucker,4478071379779230,16.054159
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.003,Travis Walters,6011812112971322,16.658734
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,13.978041
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.148,Tonya Carter,4832732618637221,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
239,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.677,Michael Avila,5296068606052842,20.392697
240,Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590,Monica Sanders,3506806155565404,7.358352
241,Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335,Keith Wong,6011891618747196,8.822232
242,Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.910,Dennis Dixon,4375220550950,9.820426
243,Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.390,Michelle Hardin,3511451626698139,15.974441

In [ ]:
df1 = df.copy()      #se non voglio delle modifiche permanenti posso anche creare un dataset di copia

In [82]:
#voglio selezionare solo la prima riga   #head funziona solo per lo stamp
#iloc funziona con i numeri/index
#loc con stringa/valore

df.iloc[0]       #mi seleziona la prima riga

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                 8.495
Payer Name          Christy Cunningham
CC Number             3560325168603410
tip_percentage                5.944673
Name: Sun2959, dtype: object

In [83]:
df.loc['Sun2959']     #seleziono per stringa

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                 8.495
Payer Name          Christy Cunningham
CC Number             3560325168603410
tip_percentage                5.944673
Name: Sun2959, dtype: object

In [ ]:
#il risultato è lo stesso

In [84]:
#voglio prendere le prime 4 righe del dataframe
df.iloc[0:4]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.495,Christy Cunningham,3560325168603410,5.944673
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.447,Douglas Tucker,4478071379779230,16.054159
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.003,Travis Walters,6011812112971322,16.658734
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,13.978041

In [85]:
#voglio selezionare solo la prima e la quarta riga
df.loc[['Sun2959','Sun5260']]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.495,Christy Cunningham,3560325168603410,5.944673
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,13.978041

In [ ]:
df

In [87]:
#voglio droppare il primo elemento
df = df.drop('Sun2959', axis=0)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.447,Douglas Tucker,4478071379779230,16.054159
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.003,Travis Walters,6011812112971322,16.658734
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,13.978041
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.148,Tonya Carter,4832732618637221,14.680765
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.322,Erik Smith,213140353657882,18.623962
...,...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.677,Michael Avila,5296068606052842,20.392697
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590,Monica Sanders,3506806155565404,7.358352
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335,Keith Wong,6011891618747196,8.822232
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.910,Dennis Dixon,4375220550950,9.820426
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.390,Michelle Hardin,3511451626698139,15.974441

In [88]:
#voglio appendere l'intera prima riga in fondo al mio dataframe
first_row = df.loc['Sun4608']
first_row

total_bill                     10.34
tip                             1.66
sex                             Male
smoker                            No
day                              Sun
time                          Dinner
size                               3
price_per_person               3.447
Payer Name            Douglas Tucker
CC Number           4478071379779230
tip_percentage             16.054159
Name: Sun4608, dtype: object

In [89]:
df.append(first_row)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.447,Douglas Tucker,4478071379779230,16.054159
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.003,Travis Walters,6011812112971322,16.658734
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,13.978041
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.148,Tonya Carter,4832732618637221,14.680765
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.322,Erik Smith,213140353657882,18.623962
...,...,...,...,...,...,...,...,...,...,...,...
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590,Monica Sanders,3506806155565404,7.358352
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335,Keith Wong,6011891618747196,8.822232
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.910,Dennis Dixon,4375220550950,9.820426
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.390,Michelle Hardin,3511451626698139,15.974441
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.447,Douglas Tucker,4478071379779230,16.054159

In [91]:
#se volessi trasformare la prima riga in un array

In [92]:
array_row = df.loc['Sun4608'].values       #è un array stringa
array_row

array([10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3, 3.447,
       'Douglas Tucker', 4478071379779230, 16.054158607350097],
      dtype=object)

In [95]:
array_row2 = first_row.values
array_row2

array([10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3, 3.447,
       'Douglas Tucker', 4478071379779230, 16.054158607350097],
      dtype=object)